.page-header{
    background:#f7f7f7;
    padding: 1.8em 0;
    margin-bottom: 1.8rem;
}

.page-header__title{
    margin: 0;
    font-weight: 300;
    span {
        font-weight: 700;
    }
}

.page-header__actions {
    margin-top: 1.6rem;
}